
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
    
  }

h1{
  color: red;
  margin-left: 190px;
  font-size: large;
  font-weight: 600;
  margin-top: 110px;
}


@media (min-width: 700px) {
  h1 {
  text-align: center;
  color: red;
  }
}